.landscape-container {
  background-color: linear-gradient(#af002a, #de4341);
  border-radius: 15%;
}

.bg {
  background-image: url("../../assets/bg.png");
  background-size: cover;
  border-radius: 15%;
}

.layer1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "title title"
    "image description";
  gap: 10px;
  overflow: hidden;
  justify-content: start;
  box-shadow: 0 0 10px #656fbe, 0 0 20px #4ae8d8, 0 0 60px #97f1fd;
  border-radius: 15%;
  background-color: #708090;
  height: 1100px;
}
.card_image {
  grid-area: image;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.699), 0 6px 20px rgba(0, 0, 0, 0.19);
  height: 500px;
  width: 500px;
  margin: 0 50px 0 50px;
}
.dragon_name {
  grid-area: title;
  color: #fdd017;
  font-size: 100px;
  text-shadow: 2px 2px rgb(33, 45, 70);
  padding-left: 220px;
  padding-top: 50px;
  padding-bottom: 0px;
  justify-content: center;
  height: 25px;
}
.description {
  grid-area: description;
  margin-top: 150px;
  margin-right: 50px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .bg {
    width: 80%;
  }

  .card_image {
    grid-area: image;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.699), 0 6px 20px rgba(0, 0, 0, 0.19);
    height: 500px;
    width: 500px;
    margin: 0 50px 0 50px;
  }
  .dragon_name {
    font-size: 75px;
    margin-left: -50px;
  }
  .description {
    margin-top: 0;
    margin-right: 50px;
  }
}
