.switch {
  position: relative;
  display: flex;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid #fff;
  width: 50px;
  height: 30px;
  appearance: none;
  margin-right: 100px;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(91, 115, 236);
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  left: 25px;
  top: 3px;
}

.switch__slider-C {
  left: 0;
  top: 3px;
}

.switch__active {
  font: 16px;
  color: white;
}

.switch__temp-C {
  position: absolute;
  left: 10px;
  top: -9px;
  color: white;
}

.switch__temp-F {
  position: absolute;
  top: -9px;
  left: 36px;
  color: white;
}
