#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-image: url("../../assets/mage.png");
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.landscape {
  margin: 10px;
}

.about__dragon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  background-image: url("../../assets/dragon_scales.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 100px 0;
}
.about__title {
  display: flex;
  justify-content: center;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 80px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
  background-color: rgb(208, 165, 35);
  text-shadow: 20px 20px 50px rgb(97, 77, 19);
}
.about__subtitle {
  display: flex;
  justify-content: center;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 50px;
  color: rgb(97, 77, 19);
  background-color: rgb(248, 207, 84);
}
.dragon1 {
  display: flex;
  width: 800px;
  height: 500px;
}
.card__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-style: normal;
  color: #000;
  background-color: rgb(208, 165, 35);
}

.sidebar__info {
  display: flex;
  align-items: center;
  margin: 15px;
}

.dragon-section__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.preheader {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-top: 50px;
  text-shadow: 20px 20px 50px rgb(225, 186, 60);
  font-size: 25px;
}

.h1 {
  font-size: 60px;
  color: #fff;
}

input:focus {
  background-color: #addded;
}

@media screen and (max-width: 768px) {
  .preheader {
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .preheader {
    font-size: 20px;
  }
}
