.cards {
  background-color: transparent;
}

.cards__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 122px;
  padding-bottom: 25px;
  list-style-type: none;
  gap: 21px;
}

.cards__text {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 12px;
  color: #fff;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px #656fbe, 0 0 20px #4ae8d8, 0 0 60px #97f1fd;
  width: 325px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .cards__list {
    display: flex;
    padding-left: 190px;
  }
}
